.qualification__container {
  margin: 0 auto;
}

.qualification__timeline {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.qualification__item {
  padding: 10px 20px;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

.left {
  padding-right: 15px;
}

.right {
  padding-left: 15px;
}

.qualification__content-box {
  padding: 1.5rem;
  background-color: var(--container-color);
  border-radius: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.qualification__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-0-75);
  color: var(--text-color-light);
}

.qualification__category {
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  margin-left: var(--mb-0-5);
}

.qualification__icon {
  font-size: 1.5rem;
  margin-right: var(--mb-0-25);
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-25);
}

.qualification__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-75);
  color: var(--text-color);
}

.qualification__calender {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

@media screen and (max-width: 768px) {
  .qualification__item {
    width: 100%;
    padding: 10px 15px;
  }

  .left,
  .right {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 576px) {
  .qualification__content-box {
    padding: 1.25rem;
  }
}

@media screen and (max-width: 350px) {
  .qualification__content-box {
    padding: 1rem;
  }
}
