.login__container {
  display: flex;
  justify-content: center;
}

.login__form {
  width: 496px;
}

@media screen and (max-width: 768px) {
  .login__container {
    display: block;
  }

  .login__form {
    margin: 0 auto;
    width: 100%;
    max-width: 496px;
  }
}
